@use "../global" as *;

.coffee-shop-section {
    padding: 80px 0 0;
    position: relative;
    overflow: hidden;
    @include mobile {
        padding: 60px 0;
    }
    .content-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .text-content {
            width: 50%;
            padding-right: 50px;
            text-align: left;
            @media (min-width: 1025px) and (max-width: 1130px) {
                width: 60%;
            }
            @include tablet {
                width: 60%;
            }
            @include mobile {
                flex: auto;
                padding-right: 0;
                text-align: left;
                width: 100%;
                box-sizing: border-box;
            }

            .since-text {
                font-family: $font-primary;
                font-size: 14px;
                font-weight: 800;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 3px;
                text-align: left;
                color: $dark-charcoal-brown;
            }

            h2 {
                font-family: $font-secondary;
                color: $dark-charcoal-brown;
                font-size: 80px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: normal;
                margin: 0 0 15px;
                @include mobile {
                    font-size: 45px;
                }
            }
            p {
                font-family: $font-primary;
                color: $dark-charcoal-brown;
                font-size: 16px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
            }
        }

        .image-content {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            @media (min-width: 1025px) and (max-width: 1130px) {
                width: 40%;
            }
            @include tablet {
                width: 40%;
            }
            @include mobile {
                width: 0%;
            }
            &:before {
                background: url(../images/graphic-fancy-cup.png);
                content: "";
                position: absolute;
                width: 370px;
                background-repeat: no-repeat;
                background-position: 100% 0;
                background-size: contain;
                z-index: -1;
                height: 300px;
                top: -47px;
                left: 0;
                @include tablet {
                    left: -80px;
                }
                @include mobile {
                    width: 107px;
                    height: 215px;
                    top: -77px;
                    left: -76px;
                    background: url(../images/graphic-fancy-cup-mobile.png);
                    background-repeat: no-repeat;
                    background-position: 100% 0;
                    background-size: contain;
                }
            }
            &:after {
                background: url(../images/graphic-fancy-leaf.png);
                content: "";
                position: absolute;
                width: 100%;
                background-repeat: no-repeat;
                background-position: 100% 0;
                background-size: contain;
                z-index: -2;
                height: 100px;
                right: -30px;
                top: 268px;
            }
            img {
                position: relative;
                right: -90px;
                top: -125px;
                z-index: -1;
                max-width: 600px;
                @include tablet {
                    right: -130px;
                }
                @include mobile {
                    left: 70%;
                    max-width: 480px;
                    display: none;
                }
            }
        }
        svg {
            display: block;
            margin: 0px 0 15px;
            padding: 0px;
        }
    }
}
