@use "../global" as *;

.image-with-text {
    padding: 20px 0;
    margin: 100px 0 0 0;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        right: 0;
        width: 100%;
        height: 100%;
        background: url(../images/graphic-pattern-beige.png);
        top: -150px;
        background-repeat: no-repeat;
        background-position:100% 0;
        background-size: contain;
        z-index: -1;
    }
    .image-with-text-container {
        display: flex;
        margin: 0 auto;
        padding: 0 0;
        text-align: center;
        align-items: center;
        flex-direction: row;
        @include mobile {
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
    .image-with-text-text {
        width: 50%;
        padding: 40px;
        @include mobile {
            width: 100%;
        }
        h2 {
            font-size: 40px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: normal;
            color: $dark-charcoal-brown;
            font-family: $font-secondary;
        }
        p {
            font-size: 16px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: $dark-charcoal-brown;
            font-family: $font-primary;
            margin: 20px 0;
        }
    }

    .image-with-text-image {
        width: 50%;
        @include mobile {
            width: 100%;
        }
        .image-wrapper {
            display: block;
            width: 100%;
            position: relative;
            height: 50vw;
            max-height: 600px;
            img {
                position: absolute;
                -o-object-fit: cover;
                object-fit: cover;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
            }
        }
    }
    .btn {
        display: inline-block;
        border: 1px solid $dark-charcoal-brown;
        background-color: $dark-charcoal-brown;
        color: $white;
    }
    &.image-with-text-reversed {
        margin: 0 0 0 0;
        &:before {
            top: auto;
            background-position: 100% 0;
            bottom: -150px; 
            width: 50%;
            left: 0;
            right: auto;
            background-size: contain;
            transform: rotate(180deg);
        }
        .image-with-text-container {
            flex-direction: row-reverse;

            @include mobile {
                flex-direction: row;
            }
        }
    }
}
