@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 60px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}

h2 {
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}

h3 {
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}

h4 {
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
}

h5 {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
}

h6 {
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

p {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

ul {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  list-style: none;
}

ol {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  list-style-type: number;
}

blockquote {
  font-size: 45px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
}

hr {
  height: 1px;
  width: 100%;
  background-color: #d8cfbe;
}

img {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: all 0.5s ease;
}

a:hover {
  color: #000000;
}

a.btn, .btn {
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.8px;
  text-align: center;
  background-color: #f9f7f4;
  color: #302323;
  border: 0px solid #ffffff;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  position: relative;
  display: inline-flex;
  transition: all 0.4s ease;
  overflow: hidden;
}
a.btn:hover, .btn:hover {
  background: none;
  color: #ffffff;
}
a.btn:hover span, .btn:hover span {
  width: auto;
}
a.btn::before, .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #d97f1f;
  transition: left 0.8s ease;
  z-index: -1;
}
a.btn:hover::before, .btn:hover::before {
  left: 0;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.announcement {
  width: 100%;
  margin: 0px;
  padding: 8px 0;
  background-color: #d97f1f;
  text-align: center;
}
.announcement .container {
  position: relative;
}
@media (max-width: 767px) {
  .announcement .container {
    padding: 0 30px;
  }
}
.announcement .container p {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3px;
  text-align: center;
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.announcement .container p span {
  margin: 0 5px 0 0;
  padding: 0;
}
@media (max-width: 767px) {
  .announcement .container p span {
    margin: 0;
  }
}
.announcement .container a {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.4px;
  text-align: center;
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}
.announcement .container a:hover {
  color: #000000;
}
.announcement .container button.announcement-close-btn {
  position: absolute;
  right: 15px;
  top: 0;
  background: no-repeat;
  border: 0;
  padding: 0;
  cursor: pointer;
}
@media (max-width: 767px) {
  .announcement .container button.announcement-close-btn {
    right: 10px;
  }
}
.announcement .container button.announcement-close-btn svg {
  width: 20px;
  height: 20px;
}
.announcement .container button.announcement-close-btn:hover svg path {
  stroke: #302323;
}

header {
  position: relative;
  width: 100%;
  z-index: 2;
}
header.header-bg {
  background: #f9f7f4;
}
header.header-bg .navbar a {
  color: #302323;
}
header.header-bg .navbar svg path {
  fill: #302323;
}
header .navbar {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 0px;
  padding: 0;
  text-align: center;
}
header .navbar .nav-toggle {
  margin: 0;
  padding: 0;
  display: none;
  border: 0;
  padding: 0;
  background: none;
}
@media (max-width: 767px) {
  header .navbar .nav-toggle {
    position: relative;
    z-index: 3;
    display: block;
  }
}
header .navbar .nav-toggle.active .menu-open {
  display: none;
}
header .navbar .nav-toggle.active .menu-close {
  display: inline-block;
}
header .navbar .nav-toggle .menu-close {
  display: none;
}
header .navbar .logo {
  display: inline-block;
  padding: 0px;
  margin: 15px 0;
  max-width: 150px;
}
@media (max-width: 767px) {
  header .navbar .logo {
    width: 70px;
    top: 5px;
  }
}
header .navbar .logo h1 {
  margin: 0px;
  padding: 0px;
  line-height: 0;
}
header .navbar .logo img {
  margin: 0;
  padding: 0;
}
header .navbar nav {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
@media (max-width: 767px) {
  header .navbar nav {
    display: none;
    padding: 0;
    background: #302323;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
  }
  header .navbar nav.active {
    display: flex;
  }
}
header .navbar nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  height: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  header .navbar nav > ul {
    gap: 10px;
  }
}
@media (max-width: 767px) {
  header .navbar nav > ul {
    flex-direction: column;
    gap: 10px;
  }
}
header .navbar nav > ul li {
  position: relative;
  margin: 0;
  height: 100%;
}
header .navbar nav > ul li.has-mega {
  position: static;
}
header .navbar nav > ul li.has-mega:hover .mega-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out, visibility 0s;
}
header .navbar nav > ul li.has-short-mega {
  position: static;
}
header .navbar nav > ul li.has-short-mega:hover .mega-menu {
  display: block;
  max-width: 560px;
  right: 0;
  margin: auto;
  padding: 40px 80px 35px;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out, visibility 0s;
}
header .navbar nav > ul li.has-short-mega:hover .mega-menu::before {
  display: none;
}
header .navbar nav > ul li:hover > ul, header .navbar nav > ul li.open > ul {
  display: block;
}
header .navbar nav > ul li a {
  height: 100%;
  display: inline-flex;
  align-items: center;
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 1024px) {
  header .navbar nav > ul li a {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  header .navbar nav > ul li a {
    color: #ffffff;
  }
}
header .navbar nav > ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0px;
  left: 0;
  background-color: #beae93;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
header .navbar nav > ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
header .navbar nav > ul li ul.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fcf9f4;
  min-width: 180px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  display: none;
  z-index: 99;
  transition: all 0.5s ease;
  text-align: left;
}
@media (max-width: 767px) {
  header .navbar nav > ul li ul.dropdown {
    position: static;
    box-shadow: none;
    background: none;
    text-align: center;
  }
}
header .navbar nav > ul li ul.dropdown li {
  width: 100%;
}
header .navbar nav > ul li ul.dropdown li a {
  padding: 8px 12px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 0;
  overflow: hidden;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #d97f1f;
}
header .navbar nav > ul li ul.dropdown li a:hover {
  color: #ffffff;
}
header .navbar nav > ul li ul.dropdown li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #d97f1f;
  transition: left 0.3s ease;
  z-index: -1;
}
header .navbar nav > ul li ul.dropdown li a:hover::before {
  left: 0;
}
header .navbar .nav-right {
  display: inline-block;
  margin: 0px;
  padding: 0;
}
@media (max-width: 767px) {
  header .navbar .nav-right {
    padding: 0;
  }
}
header .navbar .nav-right ul {
  height: 100%;
  display: inline-flex;
  align-items: center;
  gap: 30px;
}
header .navbar .nav-right ul li {
  margin: 0;
  position: relative;
}
header .navbar .nav-right ul li.cart-icon-cnt {
  position: relative;
}
header .navbar .nav-right ul li.cart-icon-cnt .cart-item-counter {
  position: absolute;
  right: -6px;
  bottom: -3px;
  padding: 3px;
  background: #d97f1f;
  border-radius: 50%;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  width: 16px;
  height: 16px;
}
header .navbar .nav-right ul li button {
  border: 0px;
  padding: 0;
  cursor: pointer;
  background: none;
}
header .navbar .nav-right ul li .search-bar {
  position: absolute;
  top: 100%;
  width: 250px;
  right: 0;
  z-index: 1;
}
header .navbar .nav-right ul li .search-bar input {
  width: 100%;
  line-height: 35px;
  border: 2px solid #d97f1f;
  padding: 5px 40px 5px 10px;
  font-size: 15px;
  font-family: "Nunito Sans", sans-serif;
  color: #000000;
}
header .navbar .nav-right ul li .search-bar .submit {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
}
header .navbar .nav-right ul li svg {
  margin: 0;
}
header .navbar .nav-right ul li:hover svg {
  margin: 0;
}
header .navbar .nav-right ul li:hover svg path {
  fill: #beae93;
}
header .search-bar {
  position: absolute;
  width: 100%;
  display: flex;
  background: #f1ece6;
  padding: 40px 0;
  z-index: 11;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 100%;
}
header .search-bar.hidden {
  display: none;
}
header .search-bar form {
  max-width: 677px;
  position: relative;
  width: 100%;
  margin: 0px;
  padding: 0;
}
header .search-bar form .icon-search {
  position: absolute;
  left: 20px;
  top: 8px;
  z-index: 9;
  width: 20px;
}
header .search-bar form .icon-search g {
  stroke: #302323;
}
header .search-bar form input {
  width: 100%;
  background: none;
  border: 0;
  line-height: 40px;
  outline: 0px solid #302323;
  border-radius: 5px;
  padding: 10px 30px 10px 55px;
  background: #ffffff;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #302323;
  font-family: "Nunito Sans", sans-serif;
}
header .search-bar form input::placeholder {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #302323;
}
header .search-bar form button.submit {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 44px;
  letter-spacing: 2.8px;
  padding: 0 20px;
  background: border-box;
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 5px;
  outline: 0;
  background: #302323;
  cursor: pointer;
  color: #ffffff;
}
header .search-bar form button.submit:hover {
  background: #d97f1f;
}
header .search-bar form button.submit:hover svg {
  margin: 0;
}
header .search-bar form button.submit:hover svg path {
  stroke: #d97f1f;
}
header .search-bar form button.submit:hover svg circle {
  stroke: #d97f1f;
}
header .search-bar form button.close-search {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0;
  background: no-repeat;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}
header .search-bar form button.close-search svg {
  width: 20px;
  height: 20px;
}
header .search-bar form button.close-search:hover {
  box-shadow: 0 2px 3px rgba(58, 58, 58, 0.5);
}
header .mega-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #f1ece6;
  padding: 40px 30px 60px;
  gap: 40px;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out, visibility 0s 0.4s;
  display: inline-block;
  justify-content: space-around;
}
@media (min-width: 768px) and (max-width: 1024px) {
  header .mega-menu {
    gap: 30px;
  }
}
header .mega-menu::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: url(../images/graphic-fancy-bean.png);
  background-position: bottom left;
  background-size: contain;
  background-repeat: no-repeat;
}
header .mega-menu .mega-menu-container {
  display: inline-flex;
  margin: auto;
  width: 100%;
  max-width: 840px;
}
header .mega-menu .mega-menu-container .mega-column {
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: left;
}
header .mega-menu .mega-menu-container .mega-column h4 {
  font-size: 25px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: "Source Serif 4", serif;
  color: #302323;
  margin: 0 0 10px 0;
}
header .mega-menu .mega-menu-container .mega-column h4 a {
  font-size: 25px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: "Source Serif 4", serif;
  color: #302323;
  margin: 0 0 10px 0;
}
header .mega-menu .mega-menu-container .mega-column h4 a::after {
  height: 2px;
}
header .mega-menu .mega-menu-container .mega-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header .mega-menu .mega-menu-container .mega-column ul li {
  margin-bottom: 6px;
}
header .mega-menu .mega-menu-container .mega-column ul li a {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  font-family: "Nunito Sans", sans-serif;
  color: #302323;
  transition: color 0.3s;
}
header .mega-menu .mega-menu-container .mega-column ul li a::after {
  height: 2px;
}
header .mega-menu .mega-menu-container .mega-column ul li a:hover {
  color: #302323;
}

.sidebar {
  position: fixed;
  top: auto;
  left: -100%;
  width: 100%;
  background: #f1ece6;
  padding: 10px 30px 30px;
  transition: left 0.3s ease;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sidebar.active {
  left: 0;
}
.sidebar button.back-to-main {
  border: 0;
  background: none;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3px;
  color: #302323;
  font-family: "Nunito Sans", sans-serif;
  cursor: pointer;
}
.sidebar .menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar .menu li {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0;
  border-bottom: 1px solid #ddd5c6;
}
.sidebar .menu li a,
.sidebar .menu li .submenu-toggle {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  color: #302323;
  font-family: "Nunito Sans", sans-serif;
}
.sidebar .menu li .child-submenu {
  display: none;
  margin: 5px 0 0;
}
.sidebar .menu li .child-submenu.active {
  display: block;
}
.sidebar .menu li .child-submenu li {
  padding: 0;
  border: 0;
}
.sidebar .menu li .child-submenu li a {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  padding: 5px 0;
  font-family: "Nunito Sans", sans-serif;
  color: #302323;
}
.sidebar .menu li .submenu {
  display: none;
  padding: 10px 30px 30px;
  border-left: 2px solid #ddd;
  height: 100%;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  z-index: 1;
}
.sidebar .menu li .submenu.active {
  display: block;
  animation-name: slideInRight;
  display: block;
  position: absolute;
  top: 0;
  background: #f1ece6;
  width: 100%;
  left: 0;
}
.sidebar .menu li .submenu.slideInFromLeft {
  animation-name: slideInFromLeft;
}
.sidebar .menu li .submenu.slideOutToLeft {
  animation-name: slideOutToLeft;
}
.sidebar .menu li .submenu a,
.sidebar .menu li .submenu .submenu-toggle {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: "Source Serif 4", serif;
  color: #302323;
}
.sidebar .menu li .submenu li {
  display: block;
}
.sidebar .search-bar {
  margin: 20px 0;
  padding: 0 30px;
  position: static;
  padding: 0;
  z-index: 0;
}
.sidebar .search-bar form {
  position: static;
}
.sidebar .search-bar form button.submit {
  position: static;
  width: 100%;
}
.sidebar .search-bar .search-input-wrapper {
  position: relative;
  width: 100%;
  margin: 0 0 5px;
  padding: 0;
  display: block;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOutToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.banner-slider {
  margin: -119px 0 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .banner-slider {
    margin: -87px 0 0;
    background: #302323;
    padding: 0 0 36px 0;
  }
}
.banner-slider .overlay {
  position: relative;
  color: #fff;
  z-index: 2;
  padding: 204px 0 163px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(to right, rgba(35, 31, 32, 0.5) 0%, rgba(35, 31, 32, 0) 100%);
  width: 100%;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banner-slider .overlay {
    padding: 130px 0;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .banner-slider .overlay {
    background: #302323;
    align-items: flex-start;
    margin: 0;
    padding: 30px;
    width: auto;
  }
  .banner-slider .overlay .container {
    padding: 0;
  }
}
.banner-slider .overlay .overlay-content {
  width: 100%;
  max-width: 610px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
.banner-slider .overlay .overlay-content h6 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3px;
  color: #ffffff;
}
.banner-slider .overlay .overlay-content h2 {
  font-size: 90px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
  font-family: "Source Serif 4", serif;
  margin: 0 0 20px;
  padding: 0;
}
@media (max-width: 767px) {
  .banner-slider .overlay .overlay-content h2 {
    font-size: 28px;
    line-height: 1.07;
    letter-spacing: normal;
  }
}
.banner-slider .overlay .overlay-content p {
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  margin: 0 0 25px;
  padding: 0;
}
@media (max-width: 767px) {
  .banner-slider .overlay .overlay-content p {
    display: none;
  }
}
.banner-slider .slide-image {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .banner-slider .slide-image {
    position: static;
    height: 200px;
  }
}
.banner-slider .slide-image img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: 1;
}
@media (max-width: 767px) {
  .banner-slider .slide-image img {
    position: static;
  }
}
.banner-slider .custom-arrow {
  -ms-flex-align: center;
  align-items: center;
  background: #ccc;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2em;
  z-index: 1;
}
.banner-slider .custom-arrow svg {
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .banner-slider .custom-arrow {
    top: 25%;
  }
}
.banner-slider .custom-arrow:hover {
  opacity: 0.7;
}
.banner-slider .splide__pagination {
  bottom: 30px;
}
.banner-slider .splide__pagination__page {
  width: 40px;
  height: 1px;
  margin: 2px 5px 0;
  opacity: 0.5;
  border-radius: 0;
  border: 0;
  background-color: #fff;
  cursor: pointer;
}
.banner-slider .splide__pagination__page.is-active {
  opacity: 1;
  height: 3px;
  transform: scale(1);
}
.banner-slider .splide__pagination__page:hover {
  opacity: 1;
  height: 3px;
  transform: scale(1);
}

.awards-section {
  padding: 30px 0;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}
.awards-section ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 0;
}
.awards-section ul li {
  flex: 1;
  text-align: center;
  padding: 0 30px;
}
@media (max-width: 767px) {
  .awards-section ul li {
    padding: 0 25px;
  }
}
.awards-section ul li .image-wrapper {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto 10px;
}
.awards-section ul li .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: inline-block;
}
.awards-section ul li p {
  opacity: 0.5;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3px;
  text-align: center;
  color: #302323;
  margin: 0;
  line-height: 1.4;
  font-family: "Nunito Sans", sans-serif;
}
@media (max-width: 767px) {
  .awards-section ul li p {
    display: none;
  }
}
.awards-section ul li:not(:last-child) {
  border-right: 1px solid #beae93;
}

.coffee-shop-section {
  padding: 80px 0 0;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .coffee-shop-section {
    padding: 60px 0;
  }
}
.coffee-shop-section .content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.coffee-shop-section .content-container .text-content {
  flex: 1;
  padding-right: 50px;
  text-align: left;
}
@media (max-width: 767px) {
  .coffee-shop-section .content-container .text-content {
    flex: auto;
    padding-right: 0;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
  }
}
.coffee-shop-section .content-container .text-content .since-text {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3px;
  text-align: left;
  color: #302323;
}
.coffee-shop-section .content-container .text-content h2 {
  font-family: "Source Serif 4", serif;
  color: #302323;
  font-size: 80px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  margin: 0 0 15px;
}
@media (max-width: 767px) {
  .coffee-shop-section .content-container .text-content h2 {
    font-size: 45px;
  }
}
.coffee-shop-section .content-container .text-content p {
  font-family: "Nunito Sans", sans-serif;
  color: #302323;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
.coffee-shop-section .content-container .image-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coffee-shop-section .content-container .image-content img {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 720px;
}
@media (max-width: 767px) {
  .coffee-shop-section .content-container .image-content img {
    left: 70%;
    max-width: 480px;
  }
}
.coffee-shop-section .content-container svg {
  display: block;
  margin: 0px 0 15px;
  padding: 0px;
}
.coffee-shop-section .collection-tabs {
  display: flex;
  gap: 15px;
  margin: 0 0 30px 0;
}
.coffee-shop-section .collection-tabs button {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.8px;
  text-align: center;
  border: 1px solid #302323;
  color: #302323;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  padding: 12px 20px;
  border-radius: 5px;
  background: transparent;
}
.coffee-shop-section .collection-tabs button.active {
  background-color: #302323;
  color: #ffffff;
}
.coffee-shop-section .collection-tabs button:hover {
  background-color: #302323;
  color: #ffffff;
}
.coffee-shop-section .tab-content-container {
  margin: 80px 0 0;
  padding: 0;
  width: 100%;
}
.coffee-shop-section .tab-content-container .tab-content {
  display: none;
  text-align: center;
}
.coffee-shop-section .tab-content-container .tab-content.active {
  display: block;
}
.coffee-shop-section .tab-content-container .container {
  display: inline-block;
}
.coffee-shop-section .tab-content-container .image-wrapper {
  display: block;
  width: 100%;
  position: relative;
  height: calc(25vw - 30px);
  max-height: 270px;
}
@media (max-width: 767px) {
  .coffee-shop-section .tab-content-container .image-wrapper {
    height: calc(80vw - 30px);
  }
}
.coffee-shop-section .tab-content-container .image-wrapper img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.coffee-shop-section .tab-content-container .product-card {
  padding: 20px;
  background-color: #f1ece6;
  text-align: left;
  height: 100%;
}
.coffee-shop-section .tab-content-container .product-card span.product-roast {
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  color: #302323;
  opacity: 0.5;
  font-family: "Nunito Sans", sans-serif;
}
.coffee-shop-section .tab-content-container .product-card h3.product-title {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  font-family: "Source Serif 4", serif;
  margin: 0 0 40px;
  color: #302323;
}
.coffee-shop-section .tab-content-container .product-card p.product-price {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #302323;
  font-family: "Nunito Sans", sans-serif;
}
.coffee-shop-section .tab-content-container .product-card .product-reviews {
  color: #302323;
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  display: inline-flex;
  gap: 10px;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
}
.coffee-shop-section .tab-content-container .product-card .product-reviews .rating-stars {
  display: inline-flex;
  gap: 2px;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
}
.coffee-shop-section .tab-content-container .product-card .product-reviews .rating-stars svg {
  width: 15px;
  height: 15px;
}

.image-with-text {
  padding: 20px 0;
  margin: 100px 0 0 0;
  position: relative;
}
.image-with-text:before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(../images/graphic-pattern-beige.png);
  top: -150px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: contain;
  z-index: -1;
}
.image-with-text .image-with-text-container {
  display: flex;
  margin: 0 auto;
  padding: 0 0;
  text-align: center;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 767px) {
  .image-with-text .image-with-text-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.image-with-text .image-with-text-text {
  width: 50%;
  padding: 40px;
}
@media (max-width: 767px) {
  .image-with-text .image-with-text-text {
    width: 100%;
  }
}
.image-with-text .image-with-text-text h2 {
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #302323;
  font-family: "Source Serif 4", serif;
}
.image-with-text .image-with-text-text p {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #302323;
  font-family: "Nunito Sans", sans-serif;
  margin: 20px 0;
}
.image-with-text .image-with-text-image {
  width: 50%;
}
@media (max-width: 767px) {
  .image-with-text .image-with-text-image {
    width: 100%;
  }
}
.image-with-text .image-with-text-image .image-wrapper {
  display: block;
  width: 100%;
  position: relative;
  height: 50vw;
  max-height: 600px;
}
.image-with-text .image-with-text-image .image-wrapper img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.image-with-text .btn {
  display: inline-block;
  border: 1px solid #302323;
  background-color: #302323;
  color: #ffffff;
}
.image-with-text.image-with-text-reversed {
  margin: 0 0 0 0;
}
.image-with-text.image-with-text-reversed:before {
  top: auto;
  background-position: 100% 0;
  bottom: -150px;
  width: 50%;
  left: 0;
  right: auto;
  background-size: contain;
  transform: rotate(180deg);
}
.image-with-text.image-with-text-reversed .image-with-text-container {
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .image-with-text.image-with-text-reversed .image-with-text-container {
    flex-direction: row;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  color: #000000;
  background: #f9f7f4;
  margin: 0;
  padding: 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 1380px;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}

.container-fluid {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .container-fluid {
    padding: 0 10px;
  }
}

.desktop-hidden {
  display: none;
}

@media (max-width: 767px) {
  .hide-m {
    display: none;
  }
  .desktop-hidden {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
